* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, 
ol{
    list-style: none;
}



/* header */

header {
    height: 100px;
    /* background-color: goldenrod; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;

    position: relative;
    z-index: 1;
}


/* logo */

header h1 {}

header h1 a {
    color: aqua;
}

/* header : menu */
header #menu {
    display: flex;
}

header #menu li {
    margin: 0 1rem;
    
}

header #menu li a {
    color: beige;
}

header .sns {
    display: flex;
}

header .sns li {
    margin: 0 1rem;
    font-size: 18px;
    
}

header .sns li a {
    color: pink
}

header .sns li a i {}

/* main */

main {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vh;
    height: 100vh;
}

main video {
    width: 100vw;
    height: 100vw;
    object-fit: cover;
}

main .text {
    position: absolute;
    left: 6vw;
    top: 40%;
}

main .text p{
    color: white;
    font-size: 4vw;
}

main .text ul {
    position: flex;
}


main .text ul li {}

/* footer */

section{
    display: flex;
}

main section{
    display: block;
    position: absolute;
    top: 30vh;
    bottom: 50vh;
    text-align: center;
    color: white;
    z-index: 1;
    font-size: 2vh;
    width: 100%;
}

main section ul a{

    color: aquamarine;
}

footer{
    
    color: aquamarine;
    font-size: 6vw;
    position: absolute;
    top: 50vh;
    bottom: 50vh;
    width: 100%;
    bottom: 3vh;
    text-align: center; 
    
}
